main {
    display: flex;
    flex-direction: column;
    gap: 186px;
    min-height: 100%;
}

.header-container {
    display: flex;
    margin: 75px 75px 0 99px;
    justify-content: space-between;
}
